/*!
 * Bootstrap v2.2.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

@import 'nib'
// CSS Reset
@import 'base/reset'

// Core variables and mixins
@import 'extra/fn'
@import 'base/variables' // Modify this for custom colors, font-sizes, etc
@import 'extra/mixins'

// Grid system and page structure
@import 'base/scaffolding'
@import 'grid'
@import 'base/layouts'

// Base CSS
@import 'base/type'
@import 'base/code'
@import 'base/forms'
@import 'base/tables'

//// Components: common
//@import 'sprites'
@import 'components/dropdowns'
@import 'components/wells'
@import 'components/animations'
@import 'components/close'

//// Components: Buttons & Alerts
@import 'components/buttons'
@import 'components/button-groups'
@import 'components/alerts' // Note: alerts share common CSS with buttons and thus have styles in buttons.less

//// Components: Nav
@import 'nav/navs'
@import 'nav/navbar'
@import 'nav/breadcrumbs'
@import 'nav/pagination'
@import 'nav/pager'

// Components: Popovers
@import 'components/modals'
@import 'components/tooltip'
@import 'components/popovers'

// Components: Misc
@import 'components/thumbnails'
@import 'components/media'
@import 'components/labels-badges'
@import 'components/progress-bars'
@import 'components/accordion'
@import 'components/carousel'
@import 'components/hero-unit'

// Utility classes
@import 'utilities' // Has to be last to override when necessary
