// Port of Zurb Foundation Grid System: https://raw.github.com/zurb/foundation/master/scss/foundation/components/_grid.scss

@import '../config'
@import '../functions'

/* The Grid ---------------------- */
.row
  width: $rowWidth
  max-width: 100%
  min-width: $screenSmall
  margin: 0 auto
  .row
    width: auto
    max-width: none
    min-width: 0
    margin: 0 (-($columnGutter/2))
    &.collapse
      margin: 0
  &.collapse
    .column, .columns
      padding: 0

.column, .columns
  float: $defaultFloat
  min-height: 1px
  padding: 0 ($columnGutter/2)
  position: relative
  &.centered
    float: none
    margin: 0 auto

[class*="column"] 
  & + &
    &:last-child
      float: $defaultOpposite
    &.end
      float: $defaultFloat

// Creating column classes
for $i in 1..$totalColumns
  .{convert-number-to-word($i)}
    &, .row &
      width: grid-calc($i, $totalColumns)

// Creating .row .offset-by-# classes
for $i in 1..($totalColumns - 2)
  .row
    .offset-by-{convert-number-to-word($i)}
      margin-{$defaultFloat}: grid-calc($i, $totalColumns)

// Creating .row .push-# classes
for $i in 2..($totalColumns - 2)
  .push-{convert-number-to-word($i)}
    {$defaultFloat}: grid-calc($i, $totalColumns)
  .pull-{convert-number-to-word($i)}
    {$defaultOpposite}: grid-calc($i, $totalColumns)

img, object, embed
  max-width: 100%
  height: auto
object, embed
  height: 100%
img
  -ms-interpolation-mode: bicubic
#map_canvas, .map_canvas
  img
    max-width: none!important

/* Nicolas Gallagher's micro clearfix */
.row
  clearfix()

/* Block Grids ---------------------- */

/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */

.block-grid
  display: block
  overflow: hidden
  padding: 0
  & > li
    display: block
    height: auto
    float: $defaultFloat
  for $i in 1..$blockGridElements
    &.{convert-number-to-word($i)}-up
      $margin = -8px
      $maring = 0     if $i == 1
      $maring = -15px if $i == 2
      $maring = -12px if $i == 3 
      $maring = -10px if $i == 4
      margin: 0 $margin
      & > li
        width: (100%/$i)
        $padding = 0 8px 8px
        $padding = 0 0 15px     if $i == 1
        $padding = 0 15px 15px  if $i == 2
        $padding = 0 12px 12px  if $i == 3 
        $padding = 0 10px 10px  if $i == 4 
        padding: $padding
        if $i > 1 
          &:nth-child({$i}n+1)
            clear: both
