/*
 * Support for ie defaulting to true.
 */
support-for-ie      ?= true

/*
 * Default vendor prefixes.
 */
vendor-prefixes     ?= webkit moz o ms official

$rowWidth           ?= 1000px
$columnGutter       ?= 30px
$totalColumns       ?= 12
$mobileTotalColumns ?= 4
$blockGridElements  ?= 12

$textDirection      ?= ltr // Controls default global text direction, 'rtl' or 'ltr'
$defaultFloat       ?= left // Change this to 'right' for right-to-left languages
$defaultOpposite    ?= right // Change this to 'left' for right-to-left languages
